.left-image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
    background-color: black;
}
.authen .row{
    width: 900px;
    min-height: 450px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left-image p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--brand-white);
    text-wrap: wrap;
    text-align: center;
    font-size: large;
    font-weight: 700;
}

.right image{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}