.navbar {
    padding: 0;
    background-color: var(--brand-light);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-item {
    color: var(--brand-white);
    display: flex;
    align-items: center;
    height: 100%;
    padding-inline: 2rem;
}

.nav-item:hover {
    background-color: var(--brand-dark);
    color: var(--brand-accent);
    border-bottom: 2px solid var(--brand-accent);
    cursor: pointer;
    text-decoration: none;
}

.collapse {
    height: auto;
}

.navbar-brand {
    color: var(--brand-white);
    font-style: oblique;
    font-variant: small-caps;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 25px;
    margin-left: 0.5rem;
}

.navbar-nav .nav-item .nav-link {
    color: var(--brand-white);
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: var(--brand-dark);
    color: var(--brand-accent);
    border-bottom: 2px solid var(--brand-accent);
}

.navbar-toggler-icon {
    background-color: var(--brand-accent);
}

.navbar-logo{
    border-radius: 10px;
}
.list:hover{
background-color: antiquewhite;
color: aquamarine;
}