.details-page {
    height: calc(100vh - 41px);
}

.details-image-box {
    position: relative;
    height: 100%;
}

.details-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.details-image-content {
    position: absolute;
    height: 15rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 15%, rgba(0, 0, 0, 0.01) 92%);
    width: 100%;
    inset: auto auto 0rem auto;
    z-index: 2;
}

.details-image-content button {
    background: transparent;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: .3rem 1rem;
}

.details-image-content button:hover {
    transform: scale(1.20);
}

.details-image-content button:active {
    transform: scale(.99);
    background-color: var(--brand-brown);
}

.range-label {
    cursor: pointer;
    border: 1.5px solid var(--brand-brown2);
    border-radius: 8px;
}

.range-label:hover:active {
    background-color: var(--brand-white);
}

.range-label li {
    background-color: var(--brand-white);
    border: 1px thin black;
}

.slot-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px; 
    overflow-y: auto; 
}

.slot-list li {
    background-color: var(--brand-white);
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.slot-list li:hover {
    background-color: #f0f0f0;
}

.d-flex {
    display: flex;
}

.d-column {
    flex-direction: column;
}

.availableslots{
    border: 1px solid var(--brand-brown);
    border-radius: 5px;
    color: var(--brand-dark);
    background-color: rgba(195, 166, 166, 0.7);
    cursor: pointer;
}

.notavailable{
border: 1px solid var(--brand-white);
border-radius: 5px;
color: var(--brand-light);
cursor: pointer;
background-color: rgb(220, 210, 210, .7);
}
