
.sidenav {
    width: 250px;
    height: 100vh;
    padding: 20px;
    background-color: var(--brand-white);
    border-right: 2px solid black; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}


.nav {
    width: 100%;
}


.nav-items {
    box-shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    width: 100%;
    margin: 30px; 
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--brand-white);
    transition: background-color 0.3s, transform 0.2s; 
}


.nav-items a {
    text-decoration: none;
    color: var(--brand-dark); 
    font-weight: bold; 
    display: block; 
}


.nav-items:hover {
    background-color: var(--brand-light); 
    transform: translate(3px); 
}

.nav-items a:hover {
    color: var(--brand-white); 
}



