.common-button{
    padding: .3rem .7rem;
    background-color: var(--brand-white);
    color: var(--brand-dark);
    border: 1px thin var( --brand-brown2);
    border-radius: 5px;
}

.common-button:hover{
    background-color: var(--brand-brown);
    color: var(--brand-white);

}
.common-button:active{
    transform: scale(.99);
}

.already-account{
    font-size: .9rem;
}
.already-account i{
    cursor: pointer;
    color: blue;
} 
.already-account i :hover{
    text-decoration: underline;
}
.SignInWithGooglr{
    
}