.common-input-box {
    position: relative;
    width: 100%;
    border-color: rgb(109, 103, 103);
    border-radius: 10px;
  }
  
  .common-input-box input {
    outline: none;
    color: rgb(61, 51, 51);
    padding: 0.5rem 1rem;
    border: 1px solid rgb(79, 71, 71);
    border-radius: 10px;
    width: 100%;
  }
  
  .common-input-box:focus-within {
    border: 1px solid var(--brand-dark);
  }
  
  .common-input-box label {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    color: rgb(140, 128, 128);
    pointer-events: none;
    text-transform: capitalize;
    font-size: 1rem;
    transition: transform 0.4s;
  }
  
  .common-input-box input:focus ~ label,
  .common-input-box.has-value label {
    transform: translate(0, 1.35rem) scale(0.7);
    background-color: aliceblue;
    padding-inline: 0.5rem;
    color: var(--brand-dark);
  }
  
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }
  